/* Fonts */


/* pt-sans-regular - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
    /* Modern Browsers */
}


/* pt-sans-700 - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
    /* Modern Browsers */
}


/* Variables */

 :root {
    --basic-black: #000000;
    --basic-grey: #333333;
    --basic-background-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-white: #FFFFFF;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-brown: #766357;
    --basic-brown: #604E43;
    --basic-dark-brown: #503E33;
    --transparent-white: rgba(255, 255, 255, 0.3);
    --transparent-black: rgba(0, 0, 0, 0.3);
}


/* Global */

html {
    height: 100%;
}

body {
    min-height: 100%;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color: var(--basic-grey);
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Container */

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}


/* Header */


/* Logo */

.page-header__logo {
    position: absolute;
    left: calc(50% - 69px);
}


/* Navigation */

.page-header {
    background-color: var(--basic-white);
}

.navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    outline: 3px solid red;
    outline-offset: -3px;
}

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__link {
    font-size: 14px;
    font-weight: 700;
    color: var(--basic-black);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--basic-light-blue);
}

.navigation__link:active {
    color: var(--basic-light-grey);
}

.link-active {
    color: var(--basic-light-brown);
}


/* Maine-header */

.header-welcome {
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 509px;
    text-align: center;
    outline: 3px solid rgb(195, 245, 17);
    outline-offset: -3px;
}

.about-sedona {
    text-align: center;
    background-color: var(--basic-white);
    padding-top: 53px;
    padding-bottom: 53px;
    outline: 3px solid rgb(11, 241, 230);
    outline-offset: -3px;
}

.about-sedona__title {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin-bottom: 53px;
}

.about-sedona__introduction {
    font-size: 14px;
    line-height: 26px;
}


/* Content */

.reason {
    display: flex;
    flex-direction: row;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
}

.reason-block-reverse {
    display: flex;
    flex-basis: auto;
    flex-direction: row-reverse;
}

.reason .text-block__title,
.reasons .text-block__title {
    padding-top: 47px;
    padding-bottom: 25px;
}

.text-block__title {
    width: 160px;
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0 auto;
}

.text-block__number,
.text-block__content {
    font-size: 14px;
    line-height: 21px;
}

.reason .text-block__content {
    width: 330px;
    margin: 0 auto;
    padding-top: 23px;
}

.reasons .text-block__content {
    width: 258px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 54px;
}

.advantages .text-block__content {
    width: 300px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 82px;
}

.advantages,
.reasons {
    text-align: center;
}

.advantages__list,
.reasons__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.advantages .text-block__title,
.reasons .text-block__title {
    color: var(--basic-black);
}

.text-block {
    width: 400px;
    text-align: center;
    outline: 3px solid rgb(250, 12, 159);
    outline-offset: -3px;
}

.img-block {
    width: 800px;
    outline: 3px solid rgb(248, 190, 0);
    outline-offset: -3px;
}

.advantages {
    background-color: var(--basic-white);
    outline: 3px solid rgb(182, 245, 11);
    outline-offset: -3px;
}

.advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages__item {
    width: 400px;
    outline: 3px solid rgb(114, 80, 194);
    outline-offset: -3px;
}

.reasons {
    background-color: var(--basic-background-grey);
    outline: 3px solid rgb(50, 248, 0);
    outline-offset: -3px;
}

.reasons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reasons__item {
    width: 400px;
    outline: 3px solid rgb(226, 195, 17);
    outline-offset: -3px;
}


/* Pop-up */

.form {
    display: none;
}

.search-hotels {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-white);
    outline: 3px solid rgb(20, 224, 224);
    outline-offset: -3px;
}

.search-hotels__title {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    margin: 0;
    margin-top: 58px;
    outline: 3px solid rgb(10, 236, 225);
    outline-offset: -3px;
}

.search-hotels__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 40px;
    outline: 3px solid rgb(236, 164, 10);
    outline-offset: -3px;
}

.search-hotels__title,
.search-hotels__subtitle {
    text-align: center;
}

.popup {
    font-weight: 700;
    color: var(--basic-black);
}

.popup-button {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    border: none;
}

.popup__open {
    background-color: var(--basic-light-brown);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    height: 86px;
    width: 568px;
    margin-top: 50px;
    outline: 3px solid rgb(236, 10, 187);
    outline-offset: -3px;
}

.popup__open:hover,
.popup__open:focus {
    background-color: var(--basic-brown);
}

.popup__open:active {
    color: var(--transparent-white);
    background-color: var(--basic-dark-brown);
}

.button-search {
    background-color: var(--basic-light-blue);
}

.button-search:hover,
.button-search:focus {
    background-color: var(--basic-blue);
}

.button-search:active {
    color: var(--transparent-white);
    background-color: var(--basic-dark-blue);
}


/* Page-footer */

.page-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
    display: flex;
    flex-basis: auto;
    justify-content: center;
    outline: 3px solid rgb(210, 224, 20);
    outline-offset: -3px;
}

.page-footer__contacts {
    display: block;
    width: 400px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-left: 117px;
    outline: 3px solid rgb(74, 20, 224);
    outline-offset: -3px;
}

.page-footer__contacts a {
    color: var(--basic-black);
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 -3px;
    outline: 3px solid rgb(224, 61, 20);
    outline-offset: -3px;
}

.social__link {
    margin: 0 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 46px;
}

.social__item a {
    background-color: var(--basic-light-blue);
    background-repeat: no-repeat;
    background-position: center;
}

.social__item a:hover,
.social__item a:focus {
    background-color: var(--basic-blue);
}

.social__item a:active {
    background-color: var(--basic-dark-blue);
}

.social__item a:active svg {
    opacity: 30%;
}

.page-footer__copyright {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    outline: 3px solid rgb(30, 146, 15);
    outline-offset: -3px;
}


/* Filter */

.filter {
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    outline: 3px solid rgb(10, 33, 243);
    outline-offset: -3px;
}

.filter__infrastructure {
    outline: 3px solid rgb(175, 235, 12);
    outline-offset: -3px;
}

.filter__type {
    outline: 3px solid rgb(212, 230, 233);
    outline-offset: -3px;
}

.filter__price {
    outline: 3px solid rgb(243, 162, 11);
    outline-offset: -3px;
}

.filter__title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.filter__item label {
    font-size: 14px;
    line-height: 21px;
}

.filter-result {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}


/* sorting */

.sorting {
    background-color: var(--basic-white);
}

.top-sorting__title,
.top-sorting__button {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.top-sorting__button,
.top-sorting__button:hover,
.top-sorting__button:focus,
.top-sorting__button:active {
    border: none;
    background-color: var(--basic-white);
}

.top-sorting__button {
    color: var(--transparent-black);
}

.top-sorting__button:hover,
.top-sorting__button:focus {
    color: var(--basic-light-blue);
}

.top-sorting__button:active {
    color: var(--basic-black);
}


/* hotels */

.hotels {
    background-color: var(--basic-white);
    outline: 3px solid rgb(239, 243, 11);
    outline-offset: -3px;
}

.hotels__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 73px;
    padding-right: 73px;
    outline: 3px solid rgb(11, 208, 243);
    outline-offset: -3px;
}

.hotels-photo {
    outline: 3px solid rgb(13, 238, 5);
    outline-offset: -3px;
}

.hotels-info {
    margin-left: 29px;
    outline: 3px solid rgb(5, 21, 238);
    outline-offset: -3px;
}

.info-rating {
    outline: 3px solid rgb(238, 110, 5);
    outline-offset: -3px;
}

.hotels__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.info-name h2 {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.info-name:hover h2,
.info-name:focus h2 {
    color: var(--basic-light-blue);
}

.info-name:active h2 {
    color: var(--transparent-black);
}

.info-price,
.info-rating,
.info-links {
    font-size: 14px;
    line-height: 21px;
}

.info-rating__rating {
    background-color: var(--basic-light-grey);
    width: 110px;
    height: 27px;
}

.info-links a {
    color: var(--basic-white);
    font-weight: 700;
}

.link-details {
    background-color: var(--basic-light-blue);
    width: 110px;
    height: 27px;
}

.link-details:hover,
.link-details:focus {
    background-color: var(--basic-blue);
}

.link-details:active {
    background-color: var(--basic-dark-blue);
}

.link-reservation {
    background-color: var(--basic-light-brown);
}

.link-reservation:hover,
.link-reservation:focus {
    background-color: var(--basic-brown);
}

.link-reservation:active {
    background-color: var(--basic-dark-brown);
}

.link-details:active,
.link-reservation:active {
    color: var(--transparent-white);
}