/* Fonts */


/* pt-sans-regular - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
    /* Modern Browsers */
}


/* pt-sans-700 - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
    /* Modern Browsers */
}


/* Variables */

 :root {
    --basic-black: #000000;
    --basic-grey: #333333;
    --basic-light-grey: #F2F2F2;
    --basic-white: #FFFFFF;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-brown: #766357;
    --basic-brown: #604E43;
    --basic-dark-brown: #503E33;
    --transparent-white: rgba(255, 255, 255, 0.3);
    --transparent-black: rgba(0, 0, 0, 0.3);
}


/* Global */

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color: var(--basic-grey);
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Container */

.container {
    max-width: 1200px;
}


/* Navigation */

.page-header {
    background-color: var(--basic-white);
}

.navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}

.navigation__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.navigation__link {
    font-size: 14px;
    font-weight: 700;
    color: var(--basic-black);
}

.navigation__list a:hover,
.navigation__list a:focus {
    color: var(--basic-light-blue);
}

.navigation__list a:active {
    color: var(--basic-light-grey);
}

.navigation__list .active {
    color: var(--basic-light-brown);
}


/* Maine-header */

.header-welcome {
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 509px;
    text-align: center;
}

.about-sedona {
    text-align: center;
    background-color: var(--basic-white);
}

.about-sedona__title {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.about-sedona__introduction {
    font-size: 14px;
    line-height: 26px;
}


/* Content */

.reason {
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
}

.text-block__title {
    font-size: 21px;
    line-height: 21px;
}

.text-block__number,
.text-block__content {
    font-size: 14px;
    line-height: 21px;
}

.advantages,
.reasons {
    background-color: var(--basic-white);
    text-align: center;
}

.advantages__list,
.reasons__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.advantages .text-block__title,
.reasons .text-block__title {
    color: var(--basic-black);
}


/* Pop-up */

.search-hotels {
    background-color: var(--basic-white);
}

.search-hotels__title {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
}

.search-hotels__subtitle {
    font-size: 14px;
    line-height: 24px;
}

.search-hotels__title,
.search-hotels__subtitle {
    text-align: center;
}

.popup {
    font-weight: 700;
    color: var(--basic-black);
}

.popup-button {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    border: none;
}

.popup__open {
    background-color: var(--basic-light-brown);
}

.popup__open:hover,
.popup__open:focus {
    background-color: var(--basic-brown);
}

.popup__open:active {
    color: var(--transparent-white);
    background-color: var(--basic-dark-brown);
}

.button-search {
    background-color: var(--basic-light-blue);
}

.button-search:hover,
.button-search:focus {
    background-color: var(--basic-blue);
}

.button-search:active {
    color: var(--transparent-white);
    background-color: var(--basic-dark-blue);
}


/* Page-footer */

.page-footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page-footer__contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.page-footer__contacts a {
    color: var(--basic-black);
}

.social {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 46px;
}

.social__item a {
    background-color: var(--basic-light-blue);
    background-repeat: no-repeat;
    background-position: center;
}

.social__item a:hover,
.social__item a:focus {
    background-color: var(--basic-blue);
}

.social__item a:active {
    background-color: var(--basic-dark-blue);
}

.social__item a:active svg {
    opacity: 30%;
}

.link-reservation {
    background-color: var(--basic-light-brown);
}

.page-footer__copyright {
    font-size: 14px;
    line-height: 26px;
}


/* Filter */

.filter {
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.filter__title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.filter__item label {
    font-size: 14px;
    line-height: 21px;
}

.filter-result {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}


/* sorting */

.sorting {
    background-color: var(--basic-white);
}

.top-sorting__title,
.top-sorting__button {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.top-sorting__button,
.top-sorting__button:hover,
.top-sorting__button:focus,
.top-sorting__button:active {
    border: none;
    background-color: var(--basic-white);
}

.top-sorting__button {
    color: var(--transparent-black);
}

.top-sorting__button:hover,
.top-sorting__button:focus {
    color: var(--basic-light-blue);
}

.top-sorting__button:active {
    color: var(--basic-black);
}


/* hotels */

.hotels {
    background-color: var(--basic-white);
}

.hotels__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.info-name h2 {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.info-name:hover h2,
.info-name:focus h2 {
    color: var(--basic-light-blue);
}

.info-name:active h2 {
    color: var(--transparent-black);
}

.info-price,
.info-rating,
.info-links {
    font-size: 14px;
    line-height: 21px;
}

.info-rating {
    background-color: var(--basic-light-grey);
}

.info-links a {
    color: var(--basic-white);
    font-weight: 700;
}

.link-details {
    background-color: var(--basic-light-blue);
    width: 110px;
    height: 27px;
}

.link-details:hover,
.link-details:focus {
    background-color: var(--basic-blue);
}

.link-details:active {
    background-color: var(--basic-dark-blue);
}

.link-reservation {
    background-color: var(--basic-light-brown);
}

.link-reservation:hover,
.link-reservation:focus {
    background-color: var(--basic-brown);
}

.link-reservation:active {
    background-color: var(--basic-dark-brown);
}

.link-details:active,
.link-reservation:active {
    color: var(--transparent-white);
}