/* Fonts */


/* pt-sans-regular - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
    /* Modern Browsers */
}


/* pt-sans-700 - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
    /* Modern Browsers */
}


/* Variables */

:root {
    --basic-black: #000000;
    --basic-grey: #333333;
    --basic-background-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-white: #FFFFFF;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-brown: #766357;
    --basic-brown: #604E43;
    --basic-dark-brown: #503E33;
    --transparent-white: rgba(255, 255, 255, 0.3);
    --transparent-black: rgba(0, 0, 0, 0.3);
    --footer-white: rgba(255, 255, 255, 0.9);
    --icon-grey: #A9A9A9;
    --input-grey: #EBEBEB;
    --toggle-grey: #ABABAB;
    --shadow: rgba(117, 117, 117, 0.3);
    --full-transparent: rgba(255, 255, 255, 0);
    --copyright-grey: #BDBBBC;
    --sorting-grey: #CACACA;
    --rating-grey: #666666;
    --border-grey: #E5E5E5;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* Global */

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: var(--basic-grey);
    background-color: var(--basic-light-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Container */

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px var(--shadow);
}


/* Header */

.page-header {
    background-color: var(--basic-white);
}


/* Logo */

.page-header__logo {
    position: absolute;
    left: calc(50% - 69px);
    top: 0;
    z-index: 1;
}

.page-header__logo:focus {
    outline: 1px dashed var(--basic-grey);
}


/* Navigation */

.navigation {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 72px;
    padding-right: 72px;
}

.navigation__list {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__item {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    box-sizing: border-box;
}

.navigation__list .navigation__item:nth-child(4n+1),
.navigation__list .navigation__item:nth-child(4n+2) {
    text-align: left;
}

.navigation__list .navigation__item:nth-child(4n+3),
.navigation__list .navigation__item:nth-child(4n+4) {
    text-align: right;
}

.navigation__list .navigation__item:nth-child(4n+2) {
    margin-left: 30px;
}

.navigation__list .navigation__item:nth-child(4n+3) {
    margin-left: 200px;
}

.navigation__list .navigation__item:nth-child(4n+4) {
    margin-left: 26px;
}

.navigation__link {
    color: var(--basic-black);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--basic-light-blue);
    outline: 0;
}

.navigation__link:active {
    color: var(--basic-light-grey);
}

.navigation__link--active {
    color: var(--basic-light-brown);
}


/* Main */


/* Main-header */

.header-welcome {
    position: relative;
    display: block;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 371.38px;
    padding-top: 77.35px;
    padding-bottom: 80.76px;
    max-height: 509px;
}

.header-welcome::after {
    content: '';
    position: absolute;
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 61px;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--basic-white);
    margin-top: -4px;
}

.about__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    line-height: 26px;
    max-width: 470px;
    padding: 0;
    margin: 0;
    padding-top: 43px;
    color: var(--basic-black);
}

.about__introduction {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    max-width: 519px;
    padding: 0;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 51px;
}


/* Content */

.reason {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
}

.reason--reverse {
    display: flex;
    flex-basis: auto;
    flex-direction: row-reverse;
}

.title {
    max-width: 160px;
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0 auto;
}

.reason .title {
    padding-top: 45px;
    padding-bottom: 28px;
}

.reason--reverse .title {
    padding-top: 50px;
}

.reasons .title {
    padding-top: 48px;
    padding-bottom: 26px;
}

.number,
.paragraph {
    font-size: 14px;
    line-height: 21px;
}

.paragraph {
    word-wrap: break-word;
}

.reason .paragraph {
    max-width: 330px;
    margin: 0 auto;
    padding-top: 25px;
}

.reason--reverse .paragraph {
    max-width: 325px;
}

.reasons .paragraph {
    max-width: 258px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 54px;
}

.advantages .title,
.reasons .title {
    color: var(--basic-black);
}

.advantages .title {
    padding-top: 158px;
}

.advantages .paragraph {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 83px;
}

.advantages,
.reasons {
    text-align: center;
}

.advantages__list,
.reasons__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text {
    width: 400px;
    text-align: center;
}

.image {
    width: 800px;
    height: 256px;
    margin-top: auto;
    margin-bottom: auto;
}

.advantages {
    background-color: var(--basic-white);
}

.advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages__item {
    position: relative;
    width: 400px;
}

.reasons {
    background-color: var(--basic-background-grey);
}

.reasons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reasons__item {
    width: 400px;
}

.icon-house::before {
    content: '';
    position: absolute;
    background-image: url(../img/icon-house.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    top: 59px;
    left: 162px;
}

.icon-food::before {
    content: '';
    position: absolute;
    background-image: url(../img/icon-food.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 70px;
    top: 59px;
    left: 162px;
}

.icon-souvenirs::before {
    content: '';
    position: absolute;
    background-image: url(../img/icon-souvenirs.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 77px;
    top: 52px;
    left: 168px;
}

.map {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.map iframe {
    border: none;
}


/* Pop-up */

.search-hotels {
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--basic-white);
}

.search-hotels__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    margin: 0;
    margin-top: 60px;
    max-width: 600px;
}

.search-hotels__subtitle {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 33px;
    max-width: 600px;
}

.popup-button {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    border: none;
    width: 568px;
    cursor: pointer;
    background-color: var(--basic-light-brown);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
}

.popup-button:hover,
.popup-button:focus {
    background-color: var(--basic-brown);
    outline: none;
}

.popup-button:active {
    color: var(--transparent-white);
    background-color: var(--basic-dark-brown);
    outline: none;
}


/* popup */

.popup {
    display: block;
    position: absolute;
    z-index: 1;
    width: 568px;
    background-color: var(--basic-white);
    left: calc(50% - 284px);
    animation: bounce 1s;
}

.popup--close {
    display: none;
}

.popup--error {
    animation: shake 0.6s;
}

.form {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 55px;
    padding-right: 55px;
}

.form__item {
    position: relative;
    margin: 0;
    margin-bottom: 29px;
    width: 100%;
}

.date label {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 100px;
    margin-top: 6px;
    margin-right: 12px;
}

.date input {
    float: right;
    width: 336px;
    height: 38px;
    border: none;
    font: inherit;
    text-transform: uppercase;
    color: inherit;
    background-color: var(--basic-light-grey);
}

.date input[type="text"] {
    padding: 0;
    padding-left: 10px;
}

.date input:hover {
    background-color: var(--input-grey);
    outline: none;
}

.date input:focus {
    background-color: var(--basic-white);
    outline: 2px solid var(--border-grey);
}

.button-calendar {
    position: absolute;
    background-color: inherit;
    width: 21px;
    height: 23px;
    border: none;
    top: 7px;
    right: 10px;
    padding: 0;
    cursor: pointer;
}

.button-calendar svg {
    fill: var(--icon-grey);
}

.button-calendar:hover,
.button-calendar:focus {
    outline: 0;
}

.button-calendar:hover svg,
.button-calendar:focus svg {
    fill: var(--basic-black);
}

.button-calendar:active {
    outline: 0;
}

.button-calendar:active svg {
    fill: var(--basic-light-blue);
}

.guests {
    display: flex;
    flex-direction: row;
    margin-top: -14px;
}

.guests label {
    padding-top: 7px;
}

.guests__adults {
    display: flex;
    flex-direction: row;
}

.guests__adults .guests__button {
    margin-left: 40px;
}

.guests__children {
    display: flex;
    flex-direction: row;
    margin-left: 52px;
}

.guests__children .guests__button {
    margin-left: 27px;
}

.guests__button {
    display: flex;
    background-color: var(--basic-light-grey);
}

.guests input {
    width: 37.6px;
    height: 38px;
    text-align: center;
    font-weight: 700;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
}

.guests input:hover {
    outline: none;
}

.guests input:focus {
    background-color: var(--basic-white);
    outline: 2px solid var(--border-grey);
}

.button-minus,
.button-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.6px;
    height: 38px;
    border: none;
    outline: none;
    background-color: inherit;
    fill: var(--icon-grey);
    cursor: pointer;
}

.button-minus:hover,
.button-minus:focus,
.button-plus:hover,
.button-plus:focus {
    outline: none;
}

.button-minus:hover svg,
.button-minus:focus svg,
.button-plus:hover svg,
.button-plus:focus svg {
    fill: var(--basic-black);
}

.button-minus:active,
.button-plus:active {
    outline: none;
}

.button-minus:active svg,
.button-plus:active svg {
    fill: var(--basic-light-blue);
}

.popup-send {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: var(--basic-light-blue);
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.popup-send:hover,
.popup-send:focus {
    background-color: var(--basic-blue);
    outline: 0;
}

.popup-send:active {
    color: var(--transparent-white);
    background-color: var(--basic-dark-blue);
    outline: 0;
}


/* Page-footer */

.page-footer {
    position: relative;
    color: var(--basic-black);
}

.footer {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 125px;
    background-color: var(--basic-white);
}

.footer--index {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 130px;
    background-color: var(--footer-white);
}

.page-footer__contacts {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    width: 400px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 35px;
}

.hashtag {
    margin-top: -25px;
}

.phone {
    margin-top: 10px;
}

.phone a:hover,
.phone a:focus {
    color: var(--basic-light-blue);
    outline: 0;
}

.phone a:active {
    color: var(--copyright-grey);
}

.page-footer__contacts a {
    color: var(--basic-black);
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 -3px;
    margin-left: -39px;
    margin-top: -5px;
}

.social__link {
    margin: 0 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 46px;
}

.social__item a {
    background-color: var(--basic-light-blue);
}

.social__item a:hover,
.social__item a:focus {
    background-color: var(--basic-blue);
    outline: 0;
}

.social__item a:active {
    background-color: var(--basic-dark-blue);
}

.social__item a:active svg {
    opacity: 30%;
}

.page-footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.copyright {
    margin-left: -63px;
    margin-top: -5px;
}

.copyright-link {
    display: block;
    margin-left: 8px;
}

.copyright-link:hover,
.copyright-link:focus {
    fill: var(--basic-light-blue);
    outline: 0;
}

.copyright-link:active {
    fill: var(--copyright-grey);
}


/* Filter */

.filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: auto;
    padding-left: 73px;
    padding-right: 73px;
    padding-bottom: 10px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.list-filter {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

.filter__item {
    margin: 0;
    padding: 0;
    border: none;
}

.filter__item legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    padding-top: 26px;
}

.filter__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: 27px;
    font-size: 14px;
    line-height: 21px;
}

.filter-option {
    margin-bottom: 25px;
    margin-left: 40px;
    width: 136px;
}

.filter-type {
    margin-left: 79px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox:checked+label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: -40px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before {
    opacity: 80%;
}

.filter-input-checkbox:disabled+label::before {
    opacity: 30%;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: -40px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


/* Range-filter */

.range-filter {
    width: 317px;
    margin-top: 13px;
}

.range-controls {
    position: relative;
    height: 11px;
    margin-top: 11px;
    margin-bottom: 23px;
    padding-top: 10px;
}

.range-controls .scale {
    height: 2px;
    background: var(--transparent-white);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: 1px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--shadow);
    cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
    transform: scale(1.5, 1.5);
    outline: none;
}

.range-controls .toggle-max {
    left: 0;
}

.range-controls .toggle-max {
    left: 80%;
}

.price-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 32px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--basic-white);
}

.price-controls label {
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
}

.price-min {
    margin-left: 65px;
}

.price-max {
    margin-right: 45px;
}

.price-controls input {
    width: 30px;
    text-align: left;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--full-transparent);
}

.filter__button {
    display: inline-block;
    width: 137px;
    height: 36px;
    vertical-align: middle;
    background-color: var(--full-transparent);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    margin-left: calc(50% - 73px);
    cursor: pointer;
}

.filter__button:hover,
.filter__button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.filter__button:active {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: 0;
}


/* sorting */

.sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 29px;
    padding-bottom: 28px;
    background-color: var(--basic-white);
}

.sorting__item {
    display: flex;
    flex-direction: row;
}

.filter-result {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 127px;
}

.filter-result input {
    width: 15px;
    font: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
}

.top-sorting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 850px;
    align-items: flex-start;
    margin-left: 36px;
}

.top-sorting__title,
.top-sorting__item {
    font-size: 12px;
    line-height: 18px;
}

.top-sorting__title {
    margin: 0;
}

.top-sorting__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

.top-sorting__list .top-sorting__link {
    margin-left: 35px;
}

.top-sorting__link {
    color: var(--transparent-black);
    border-bottom: 1px dashed var(--basic-light-blue);
}

.top-sorting__link:hover,
.top-sorting__link:focus {
    color: var(--basic-light-blue);
    border-bottom: 1px dashed var(--basic-light-blue);
    outline: 0;
}

.top-sorting__link:active {
    color: var(--basic-black);
}

.link--active {
    color: var(--basic-light-blue);
    border: none;
}

.order-sorting {
    margin-top: 5px;
}

.order-sorting__link {
    fill: var(--sorting-grey);
    cursor: pointer;
}

.order-sorting__link--active {
    fill: var(--basic-light-blue);
}

.order-sorting__link:hover,
.order-sorting__link:focus {
    fill: var(--basic-black);
    outline: 0;
}

.order-sorting__link:active {
    fill: var(--basic-light-blue);
}

.link-ascending {
    margin-right: 7px;
}


/* hotels */

.hotels {
    display: grid;
    background-color: var(--basic-white);
}

.hotels__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hotels__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 25px;
    padding-bottom: 27px;
    width: auto;
    border-top: 1px solid var(--border-grey);
}

.hotels__list:last-child {
    border-bottom: 1px solid var(--border-grey);
}

.hotels-photo {
    width: 135px;
    height: 90px;
    margin-top: 5px;
}

.hotels-info {
    margin-left: 29px;
}

.info-name h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    margin: 0;
}

.info-name:hover,
.info-name:focus {
    outline: 0;
}

.info-name:hover h2,
.info-name:focus h2 {
    color: var(--basic-light-blue);
}

.info-name:active h2 {
    color: var(--transparent-black);
}

.info-price,
.info-rating,
.info-links {
    font-size: 14px;
    line-height: 21px;
}

.info-price {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 17px;
}

.info-price__type {
    display: inline-block;
    min-width: 100px;
    vertical-align: middle;
}

.info-price__price {
    margin-left: 14px;
}

.info-links {
    display: flex;
    text-align: center;
}

.info-links a {
    color: var(--basic-white);
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
}

.link-details {
    display: inline-block;
    background-color: var(--basic-light-blue);
    vertical-align: middle;
    padding-left: 18px;
    padding-right: 18px;
}

.link-details:hover,
.link-details:focus {
    background-color: var(--basic-blue);
    outline: 0;
}

.link-details:active {
    background-color: var(--basic-dark-blue);
}

.link-reservation {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 6px;
    vertical-align: middle;
    background-color: var(--basic-light-brown);
}

.link-reservation:hover,
.link-reservation:focus {
    background-color: var(--basic-brown);
    outline: 0;
}

111 .link-reservation:active {
    background-color: var(--basic-dark-brown);
}

.link-details:active,
.link-reservation:active {
    color: var(--transparent-white);
}

.info-rating {
    width: 127px;
}

.info-rating__rating {
    display: inline-block;
    float: right;
    background-color: var(--basic-light-grey);
    color: var(--rating-grey);
    text-align: center;
    vertical-align: middle;
    width: 110px;
    height: 27px;
    margin-top: 41px;
    padding-top: 3px;
}

.info-rating__category {
    display: block;
    float: right;
    margin-top: 5px;
}


/* Animations */

@keyframes bounce {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}